<phpunit bootstrap="phpunit.bootstrap.php">
    <testsuites>
        <testsuite name="WebIt4Me\TimeZone test">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false" >
            <file>./src/TimeZone.php</file>
            <file>./src/AbstractTimeZoneEnum.php</file>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="./tests/logs/timezone.xml"/>
    </logging>
</phpunit>
